<div id="about" class="section anchor">
    <div class="section_title">
        <div class="small">about our</div>
        <div class="big">company</div>
        <div class="text">California Radomes™ has been in operation since 1980 and has developed a reputation as a leader of Radome repair and overhaul within the Aircraft Industry. We have the finest selection of Aircraft Radome Accessories in the world and can ship wherever needed. We have built our reputation on providing high quality at excellent prices.</div><br />
        <div class="text">
            California Radomes™ is FAA approved and EASA accepted. As a member of the RTCA Special Committee 173 (SC-173), California Radomes™ helped write the "Minimum Operational Performance Standards" (MOPS) for nose-mounted radomes.
        </div>
        <div style="margin-top: 25px;">
            <img src="../assets/images/aboutUs.JPG" style="height: 525px; width: 725px;" class="img-thumbnail"/>
        </div>
    </div>
    <!--<div class="device imac animated fx_opacity_show">-->
        <!--<div class="preview">-->
            <!--<img src="vendor/images/temp/video_preview.jpg" alt="" />-->
        <!--</div>-->
        <!--<div class="glare"></div>-->
        <!--<a class="play fancybox fancybox.iframe" href="http://vimeo.com/36031564"><i class="fa fa-smooth fa-youtube-play fa-5x"></i></a>-->
    <!--</div>-->
    <!--<div class="about_parallax highlight">-->
        <!--<div class="about_parallax_left layer_1 animated">-->
            <!--<div style="position:absolute;left:0;top:85px;"><i class="fa fa-smooth fa-clock-o fa-lg"></i></div>-->
            <!--<div style="position:absolute;left:120px;top:30px;"><i class="fa fa-smooth fa-key fa-lg"></i></div>-->
            <!--<div style="position:absolute;left:450px;top:250px;"><i class="fa fa-smooth fa-cloud-download fa-lg"></i></div>-->
        <!--</div>-->
        <!--<div class="about_parallax_left layer_2 animated">-->
            <!--<div style="position:absolute;left:70px;top:140px;"><i class="fa fa-smooth fa-hand-o-right fa-2x"></i></div>-->
            <!--<div style="position:absolute;left:310px;top:150px;"><i class="fa fa-smooth fa-video-camera fa-2x"></i></div>-->
            <!--<div style="position:absolute;left:420px;top:0px;"><i class="fa fa-smooth fa-comments fa-2x"></i></div>-->
            <!--<div style="position:absolute;left:520px;top:90px;"><i class="fa fa-smooth fa-leaf fa-2x"></i></div>-->
        <!--</div>-->
        <!--<div class="about_parallax_left layer_3 animated">-->
            <!--<div style="position:absolute;left:230px;top:20px;"><i class="fa fa-smooth fa-gift fa-3x"></i></div>-->
        <!--</div>-->
        <!--<div class="about_parallax_right layer_1 animated">-->
            <!--<div style="position:absolute;right:0px;top:80px;"><i class="fa fa-smooth fa-star fa-lg"></i></div>-->
            <!--<div style="position:absolute;right:210px;top:220px;"><i class="fa fa-smooth fa-suitcase fa-lg"></i></div>-->
        <!--</div>-->
        <!--<div class="about_parallax_right layer_2 animated">-->
            <!--<div style="position:absolute;right:290px;top:80px;"><i class="fa fa-smooth fa-camera-retro fa-2x"></i></div>-->
        <!--</div>-->
        <!--<div class="about_parallax_right layer_3 animated">-->
            <!--<div style="position:absolute;right:120px;top:70px;"><i class="fa fa-smooth fa-bell-o fa-3x"></i></div>-->
            <!--<div style="position:absolute;right:380px;top:170px;"><i class="fa fa-smooth fa-book fa-3x"></i></div>-->
            <!--<div style="position:absolute;right:460px;top:0px;"><i class="fa fa-smooth fa-thumbs-up fa-3x"></i></div>-->
        <!--</div>-->
    <!--</div>&lt;!&ndash;about_parallax&ndash;&gt;-->
</div><!--about-->