<div  id="home" class="section anchor">
    <div cr-main-slider id="slider">
        <ul>
            <!-- slotzoom-horizontal -->
            <li data-transition="slotzoom-horizontal" data-slotamount="1">
                <img src="../assets/images/aboutus.jpg" alt="" />
            </li>
            <!-- SLIDE LEFT -->
            <li data-transition="slotzoom-horizontal" data-slotamount="1">
                <img src="../assets/images/slider2.jpg" alt="" />
            </li>
            <!-- SLIDE DOWN -->
            <li data-transition="slotzoom-horizontal" data-slotamount="1">
                <img src="../assets/images/slider3.jpg" alt="" />
            </li>
            <!-- SLIDE curtain-1 -->
            <li data-transition="slotzoom-horizontal" data-slotamount="1">
                <img src="../assets/images/slider4.jpg" alt="" />
            </li>

            <li data-transition="slotzoom-horizontal" data-slotamount="1">
                <img src="../assets/images/aboutus2.jpg" alt="" />
            </li>
            <li data-transition="slotzoom-horizontal" data-slotamount="1">
                <img src="../assets/images/aboutus3.jpg" alt="" />
            </li>
            <li data-transition="slotzoom-horizontal" data-slotamount="1">
                <img src="../assets/images/aboutus4.jpg" alt="" />
            </li>
            <li data-transition="slotzoom-horizontal" data-slotamount="1">
                <img src="../assets/images/aboutus5.jpg" alt="" />
            </li>
            <li data-transition="slotzoom-horizontal" data-slotamount="1">
                <img src="../assets/images/aboutus6.jpg" alt="" />
            </li>
        </ul>
    </div><!--slider-->
</div><!--home-->




<div id="about" class="section anchor" >
    <div class="section_title">
        <div class="small">about our</div>
        <div class="big">company</div>
        <div class="text">
            California Radomes™ has been in operation since 1980 and has developed a reputation as a leader of Radome repair and overhaul within the Aircraft Industry. We have the finest selection of Aircraft Radome Accessories in the world and can ship wherever needed. We have built our reputation on providing high quality at excellent prices.
        </div><br />
        <div class="text">
            California Radomes™ is FAA approved and EASA accepted. As a member of the RTCA Special Committee 173 (SC-173), California Radomes™ helped write the "Minimum Operational Performance Standards" (MOPS) for nose-mounted radomes.
        </div>
    </div>
</div>