<div id="team" class="section anchor">
    <div class="section_title">
        <div class="small">California Radomes</div>
        <div class="big">CERTIFICATIONS</div>
        <div class="text">We are fully certified by the Air Agency and EASA to meet all your repair, modification, and service needs!</div>
    </div>
    <div class="container">
        <div class="team">
            <div class="carousel_navigation highlight">
                <div class="prev"><i class="fa fa-arrow-left"></i></div>
                <div class="next"><i class="fa fa-arrow-right"></i></div>
            </div>
            <div class="column" cr-highlight-container>
                <div class="member_photo">
                    <a href="assets/certification pdfs/airagencycert.pdf" target="_blank">
                        <img src="assets/images/air-agency-image.png" alt="" width="190" height="190" />
                        <div class="photo_overlay"></div>
                    </a>
                </div>
                <div class="member_name">
                    Air Agency Certificate
                </div>
                <div class="member_info">
                    <strong>FAA # BH3R397L</strong>
                </div>
                <div class="member_info">
                     Re-issue Date: August 11, 1992
                </div>
            </div><!--column-->
            <div class="column" cr-highlight-container>
                <div class="member_photo">
                    <a href="assets/certification pdfs/EASA certs.pdf" target="_blank">
                        <img src="assets/images/EASA-approval-image2.png" alt="" width="190" height="190" />
                        <div class="photo_overlay"></div>
                    </a>
                </div>
                <div class="member_name">
                    EASA Approval Certificate
                </div>
                <div class="member_info">
                    <strong># EASA . 145 . 4289</strong>
                </div>
                <div class="member_info">
                    Re-issue Date: February 25, 2014
                </div>
            </div><!--column-->
            <div class="column" cr-highlight-container>
                <div class="member_photo">
                <a href="assets/certification pdfs/CR-OpSpecs 2014.pdf" target="_blank">
                    <img src="assets/images/specifications-image.png" alt="" width="190" height="190" />
                    <div class="photo_overlay"></div>
                    </a>
                </div>
                <div class="member_name">
                    Repair Station Specifications
                </div>
                <div class="member_info">
                    <strong>&nbsp;</strong>
                </div>
                <div class="member_info">
                    Re-issue Date: July 2, 2014
                </div>
            </div><!--column-->
            <div class="column" cr-highlight-container>
                <div class="member_photo">
                    <a href="assets/certification pdfs/Capability List 2014.pdf" target="_blank">
                        <img src="assets/images/capabilities-list-image.png" alt="" width="190" height="190" />
                        <div class="photo_overlay"></div>
                    </a>
                </div>
                <div class="member_name">
                    Capabilities <br />List
                </div>
                <div class="member_info">
                    <strong>&nbsp;</strong>
                </div>
                <div class="member_info">
                    Re-issue Date: January 27, 2014
                </div>
            </div><!--column-->
            <div class="column" cr-highlight-container>
                <div class="member_photo">
                    <a href="assets/certification pdfs/AMPP_Statement.pdf" target="_blank">
                        <img src="assets/images/antidrug-program-image.png" alt="" width="190" height="190" />
                        <div class="photo_overlay"></div>
                    </a>
                </div>
                <div class="member_name">
                    Drug Prevention Program
                </div>
                <div class="member_info">
                    <strong>Antidrug and Alcohol Misuse <br />Prevention Program</strong>
                </div>
                <div class="member_info">
                    Date: March 26, 2008
                </div>
            </div><!--column-->
        </div><!--team-->
    </div><!--container-->
</div><!--team-->