<div id="contact" class="section anchor">
    <div class="section_title">
        <div class="small">dove mail</div>
        <div class="big">contact us</div>
        <div class="text">Should you have any question or enquiry, do not hesitate to send us a quick message. We appreciate your feedback.</div>
    </div>
    <div class="container">
        <div class="contact_form">
            <form action="#" method="post" id="contact_form" class="form">
                <ul>
                    <li>
                        <div class="input_addon">
                            <i class="highlight fa fa-user"></i>
                        </div>
                        <input type="text" name="name" placeholder="Your name" class="w240" />
                    </li>
                    <li>
                        <div class="input_addon">
                            <i class="highlight fa fa-envelope-o"></i>
                        </div>
                        <input type="text" name="email" placeholder="E-mail" class="w240" />
                    </li>
                    <li>
                        <textarea name="message" rows="1" cols="1" placeholder="Type your message here" class="w570 h190"></textarea>
                    </li>
                </ul>
                <input type="submit" value="send message" class="submit" />
            </form>
        </div><!--contact_form-->
    </div><!--container-->
</div><!--contact-->