<div id="portfolio" class="section anchor">
<div class="section_title">
    <div class="small">our featured</div>
    <div class="big">projects</div>
    <div class="text">There once was a story about a man who could turn invisible. I thought it was only a story...</div>
</div>
<div class="container">

    <div id="project">
        <div class="loader"></div>
        <div class="project_navigation">
            <div id="prev_project">
                <a href="#"><i class="highlight fa fa-arrow-left"></i></a>
            </div>
            <div id="next_project">
                <a href="#"><i class="highlight fa fa-arrow-right"></i></a>
            </div>
            <div id="close_project">
                <a href="#"><i class="highlight fa fa-times"></i></a>
            </div>
        </div><!--navigation_controls-->
        <div id="project_content">
            <!--Dynamic project content loads here-->
        </div>
    </div>

    <div class="view_type">
        <a href="ajax_grid_projects.html" class="type_grid active"><i class="fa fa-th"></i></a>
        <a href="ajax_list_projects.html" class="type_list"><i class="fa fa-th-list"></i></a>
    </div>
    <div class="filters">
        <ul>
            <li class="active"><a href="#" data-filter="*">all</a></li>
            <li><a href="#" data-filter=".branding">Branding</a></li>
            <li><a href="#" data-filter=".design">Design</a></li>
            <li><a href="#" data-filter=".photography">Photography</a></li>
            <li><a href="#" data-filter=".videography">Videography</a></li>
        </ul>
    </div><!--filters-->

</div><!--container-->

<div id="projects">
    <div class="loader"></div>
    <div id="ajax_container">
        <div id="ajax_content">
            <!--Dynamic content start-->
            <div class="projects grid_projects">
                <ul>
                    <li class="branding">
                        <div class="project_image">
                            <img src="vendor/images/temp/thumb_1.jpg" alt="" width="290" height="194" />
                        </div>
                        <div class="project_overlay">
                            <a href="#!portfolio-item/project_1.html">
                                <span class="project_icon"><i class="fa fa-youtube-play"></i></span>
                                <span class="project_title highlight">Video file type</span>
                                <span class="project_text">With the new day comes new strength and new thoughts.</span>
                            </a>
                        </div>
                    </li><li class="videography">
                    <div class="project_image">
                        <img src="vendor/images/temp/thumb_2.jpg" alt="" width="290" height="194" />
                    </div>
                    <div class="project_overlay">
                        <a href="#!portfolio-item/project_2.html">
                            <span class="project_icon"><i class="fa fa-picture-o"></i></span>
                            <span class="project_title highlight">Image file type</span>
                            <span class="project_text">With the new day comes new strength and new thoughts.</span>
                        </a>
                    </div>
                </li><li class="photography">
                    <div class="project_image">
                        <img src="vendor/images/temp/thumb_3.jpg" alt="" width="290" height="194" />
                    </div>
                    <div class="project_overlay">
                        <a href="#!portfolio-item/project_3.html">
                            <span class="project_icon"><i class="fa fa-camera"></i></span>
                            <span class="project_title highlight">Photoshoot</span>
                            <span class="project_text">With the new day comes new strength and new thoughts.</span>
                        </a>
                    </div>
                </li><li class="branding">
                    <div class="project_image">
                        <img src="vendor/images/temp/thumb_4.jpg" alt="" width="290" height="194" />
                    </div>
                    <div class="project_overlay">
                        <a href="#!portfolio-item/project_4.html">
                            <span class="project_icon"><i class="fa fa-youtube-play"></i></span>
                            <span class="project_title highlight">Video file type</span>
                            <span class="project_text">With the new day comes new strength and new thoughts.</span>
                        </a>
                    </div>
                </li><li class="videography">
                    <div class="project_image">
                        <img src="vendor/images/temp/thumb_5.jpg" alt="" width="290" height="194" />
                    </div>
                    <div class="project_overlay">
                        <a href="#!portfolio-item/project_5.html">
                            <span class="project_icon"><i class="fa fa-picture-o"></i></span>
                            <span class="project_title highlight">Image file type</span>
                            <span class="project_text">With the new day comes new strength and new thoughts.</span>
                        </a>
                    </div>
                </li><li class="photography design">
                    <div class="project_image">
                        <img src="vendor/images/temp/thumb_6.jpg" alt="" width="290" height="194" />
                    </div>
                    <div class="project_overlay">
                        <a href="#!portfolio-item/project_6.html">
                            <span class="project_icon"><i class="fa fa-camera"></i></span>
                            <span class="project_title highlight">Photoshoot</span>
                            <span class="project_text">With the new day comes new strength and new thoughts.</span>
                        </a>
                    </div>
                </li><li class="branding">
                    <div class="project_image">
                        <img src="vendor/images/temp/thumb_7.jpg" alt="" width="290" height="194" />
                    </div>
                    <div class="project_overlay">
                        <a href="#!portfolio-item/project_7.html">
                            <span class="project_icon"><i class="fa fa-youtube-play"></i></span>
                            <span class="project_title highlight">Video file type</span>
                            <span class="project_text">With the new day comes new strength and new thoughts.</span>
                        </a>
                    </div>
                </li><li class="videography">
                    <div class="project_image">
                        <img src="vendor/images/temp/thumb_8.jpg" alt="" width="290" height="194" />
                    </div>
                    <div class="project_overlay">
                        <a href="#!portfolio-item/project_8.html">
                            <span class="project_icon"><i class="fa fa-picture-o"></i></span>
                            <span class="project_title highlight">Image file type</span>
                            <span class="project_text">With the new day comes new strength and new thoughts.</span>
                        </a>
                    </div>
                </li><li class="photography">
                    <div class="project_image">
                        <img src="vendor/images/temp/thumb_9.jpg" alt="" width="290" height="194" />
                    </div>
                    <div class="project_overlay">
                        <a href="#!portfolio-item/project_9.html">
                            <span class="project_icon"><i class="fa fa-camera"></i></span>
                            <span class="project_title highlight">Photoshoot</span>
                            <span class="project_text">With the new day comes new strength and new thoughts.</span>
                        </a>
                    </div>
                </li><li class="design">
                    <div class="project_image">
                        <img src="vendor/images/temp/thumb_10.jpg" alt="" width="290" height="194" />
                    </div>
                    <div class="project_overlay">
                        <a href="#!portfolio-item/project_10.html">
                            <span class="project_icon"><i class="fa fa-youtube-play"></i></span>
                            <span class="project_title highlight">Video file type</span>
                            <span class="project_text">With the new day comes new strength and new thoughts.</span>
                        </a>
                    </div>
                </li><li class="videography">
                    <div class="project_image">
                        <img src="vendor/images/temp/thumb_11.jpg" alt="" width="290" height="194" />
                    </div>
                    <div class="project_overlay">
                        <a href="#!portfolio-item/project_11.html">
                            <span class="project_icon"><i class="fa fa-picture-o"></i></span>
                            <span class="project_title highlight">Image file type</span>
                            <span class="project_text">With the new day comes new strength and new thoughts.</span>
                        </a>
                    </div>
                </li><li class="photography design">
                    <div class="project_image">
                        <img src="vendor/images/temp/thumb_12.jpg" alt="" width="290" height="194" />
                    </div>
                    <div class="project_overlay">
                        <a href="#!portfolio-item/project_12.html">
                            <span class="project_icon"><i class="fa fa-camera"></i></span>
                            <span class="project_title highlight">Photoshoot</span>
                            <span class="project_text">With the new day comes new strength and new thoughts.</span>
                        </a>
                    </div>
                </li><li class="design">
                    <div class="project_image">
                        <img src="vendor/images/temp/thumb_13.jpg" alt="" width="290" height="194" />
                    </div>
                    <div class="project_overlay">
                        <a href="#!portfolio-item/project_13.html">
                            <span class="project_icon"><i class="fa fa-youtube-play"></i></span>
                            <span class="project_title highlight">Video file type</span>
                            <span class="project_text">With the new day comes new strength and new thoughts.</span>
                        </a>
                    </div>
                </li><li class="videography">
                    <div class="project_image">
                        <img src="vendor/images/temp/thumb_14.jpg" alt="" width="290" height="194" />
                    </div>
                    <div class="project_overlay">
                        <a href="#!portfolio-item/project_14.html">
                            <span class="project_icon"><i class="fa fa-picture-o"></i></span>
                            <span class="project_title highlight">Image file type</span>
                            <span class="project_text">With the new day comes new strength and new thoughts.</span>
                        </a>
                    </div>
                </li><li class="photography design">
                    <div class="project_image">
                        <img src="vendor/images/temp/thumb_15.jpg" alt="" width="290" height="194" />
                    </div>
                    <div class="project_overlay">
                        <a href="#!portfolio-item/project_15.html">
                            <span class="project_icon"><i class="fa fa-camera"></i></span>
                            <span class="project_title highlight">Photoshoot</span>
                            <span class="project_text">With the new day comes new strength and new thoughts.</span>
                        </a>
                    </div>
                </li>
                </ul>
            </div><!--grid_projects-->
            <!--Dynamic content end-->
        </div><!--ajax_content-->
    </div><!--ajax_container-->
</div><!--projects-->

<div class="subtitle">
    our favorite clients
</div>
<div class="our_clients">
    <ul>
        <li>
            <span><em><a href="#"><img src="vendor/images/temp/client_1.png" alt="" width="72" height="80" /></a></em></span>
        </li>
        <li>
            <span><em><a href="#"><img src="vendor/images/temp/client_2.png" alt="" width="104" height="36" /></a></em></span>
        </li>
        <li>
            <span><em><a href="#"><img src="vendor/images/temp/client_3.png" alt="" width="109" height="31" /></a></em></span>
        </li>
        <li>
            <span><em><a href="#"><img src="vendor/images/temp/client_1.png" alt="" width="72" height="80" /></a></em></span>
        </li>
        <li>
            <span><em><a href="#"><img src="vendor/images/temp/client_2.png" alt="" width="104" height="36" /></a></em></span>
        </li>
        <li>
            <span><em><a href="#"><img src="vendor/images/temp/client_3.png" alt="" width="109" height="31" /></a></em></span>
        </li>
        <li>
            <span><em><a href="#"><img src="vendor/images/temp/client_1.png" alt="" width="72" height="80" /></a></em></span>
        </li>
        <li>
            <span><em><a href="#"><img src="vendor/images/temp/client_2.png" alt="" width="104" height="36" /></a></em></span>
        </li>
        <li>
            <span><em><a href="#"><img src="vendor/images/temp/client_3.png" alt="" width="109" height="31" /></a></em></span>
        </li>
        <li>
            <span><em><a href="#"><img src="vendor/images/temp/client_1.png" alt="" width="72" height="80" /></a></em></span>
        </li>
        <li>
            <span><em><a href="#"><img src="vendor/images/temp/client_2.png" alt="" width="104" height="36" /></a></em></span>
        </li>
        <li>
            <span><em><a href="#"><img src="vendor/images/temp/client_3.png" alt="" width="109" height="31" /></a></em></span>
        </li>
        <li>
            <span><em><a href="#"><img src="vendor/images/temp/client_1.png" alt="" width="72" height="80" /></a></em></span>
        </li>
        <li>
            <span><em><a href="#"><img src="vendor/images/temp/client_2.png" alt="" width="104" height="36" /></a></em></span>
        </li>
        <li>
            <span><em><a href="#"><img src="vendor/images/temp/client_3.png" alt="" width="109" height="31" /></a></em></span>
        </li>
    </ul>
    <div class="carousel_navigation highlight">
        <div class="prev"><i class="fa fa-arrow-left"></i></div>
        <div class="next"><i class="fa fa-arrow-right"></i></div>
    </div>
</div><!--clients-->
</div><!--portfolio-->