<div id="services" class="section anchor">
    <div class="section_title">
        <div class="small highlight">Check out our</div>
        <div class="big">Featured Services</div>
        <div class="text">We have over 30 years of experience as a leader of radome repair and overhaul within the aircraft industry!</div>
    </div>
    <div class="container">
        <div class="services">
            <div class="carousel_navigation highlight">
                <div class="prev"><i class="fa fa-arrow-left"></i></div>
                <div class="next"><i class="fa fa-arrow-right"></i></div>
            </div>
            <div class="column" cr-highlight-container>
                <div class="service_icon">
                    
                    <div class="icon_bg">
                        <img class="img-circle" src="assets/images/repair-image2.png">
                        <div class="overlay_grid"></div></div>
                </div>
                <div class="service_title">
                    Top Quality Repair
                </div>
                <div class="service_text">
                    We have all the tools and expertise to ensure your aircraft is repaired the right way!
                </div>
                <ul class="service_features">
                    <li>
                        <div class="icon highlight">
                            <i class="fa fa-bolt"></i>
                        </div>
                        Radomes
                    </li>
                    <li>
                        <div class="icon highlight">
                            <i class="fa fa-bolt"></i>
                        </div>
                        APU Duct
                    </li>
                    <li>
                        <div class="icon highlight">
                            <i class="fa fa-bolt"></i>
                        </div>
                        Plenums
                    </li>
                    <li>
                        <div class="icon highlight">
                            <i class="fa fa-bolt"></i>
                        </div>
                        Tailcone
                    </li>
                </ul>
            </div><!--column--><div class="column" cr-highlight-container>
            <div class="service_icon">
                <div class="icon_bg">
                    <img class="img-circle" src="assets/images/modifications-image.png">
                    <div class="overlay_grid"></div>
                </div>
            </div>
            <div class="service_title">
                Modifications
            </div>
            <div class="service_text">
                We specialize in professional modifications that enable your aircraft to reach its potential!
            </div>
            <ul class="service_features">
                <li>
                    <div class="icon highlight">
                        <i class="fa fa-bolt"></i>
                    </div>
                    Erosion Protection
                </li>
                <li>
                    <div class="icon highlight">
                        <i class="fa fa-bolt"></i>
                    </div>
                    Exclusive Infrared Thermography
                </li>
                <li>
                    <div class="icon highlight">
                        <i class="fa fa-bolt"></i>
                    </div>
                    ADF Antenna Panels
                </li>
                <li>
                    <div class="icon highlight">
                        <i class="fa fa-bolt"></i>
                    </div>
                    Fairings
                </li>
            </ul>
        </div><!--column--><div class="column" cr-highlight-container>
            <div class="service_icon">
                <div class="icon_bg">
                    <img class="img-circle" src="assets/images/support-image.png">
                <div class="overlay_grid"></div></div>
            </div>
            <div class="service_title">
                Customer Support
            </div>
            <div class="service_text">
                Whether you are looking to purchase, repair, or modify, we have a professional team to serve you every step of the way.
            </div>
            <ul class="service_features">
                <li>
                    <div class="icon highlight">
                        <i class="fa fa-bolt"></i>
                    </div>
                    24-hour AOG Services
                </li>
                <li>
                    <div class="icon highlight">
                        <i class="fa fa-bolt"></i>
                    </div>
                    Transmissivity Testing
                </li>
                <li>
                    <div class="icon highlight">
                        <i class="fa fa-bolt"></i>
                    </div>
                    Exchange Program
                </li>
                <li>
                    <div class="icon highlight">
                        <i class="fa fa-bolt"></i>
                    </div>
                    Complete Overhauls
                </li>
            </ul>
        </div><!--column-->
        </div><!--container-->
    </div><!--services-->

</div><!--services-->