<div  id="home" class="section anchor">
<div cr-main-slider id="slider">
    <ul>
<!-- slotzoom-horizontal -->
<li data-transition="slotzoom-horizontal" data-slotamount="1">
    <img src="../assets/images/slider5.jpg" alt="" />
    <div class="caption sft"
         data-x="100"
         data-y="124"
         data-speed="900"
         data-start="500"
         data-easing="easeOutBack">
    </div>
    <div class="caption sft big_white"
         data-x="center"
         data-y="120"
         data-speed="900"
         data-start="1000"
         data-easing="easeOutBack">Welcome to
    </div>
    <div class="caption sft very_big_white"
         data-x="center"
         data-y="220"
         data-speed="900"
         data-start="1100"
         data-easing="easeOutBack">California Radomes
    </div>
    <!--<div class="caption lfr tp-caption start" data-easing="easeOutExpo"-->
         <!--data-start="1400"-->
         <!--data-speed="1000"-->
         <!--data-y="310"-->
         <!--data-x="right"><img src="vendor/images/temp/slider_imac.png" alt="" style="width: 543px; height: 523px;" />-->
    <!--</div>-->
    <!--<div class="caption lfl tp-caption start"-->
         <!--data-easing="easeOutExpo"-->
         <!--data-start="1600"-->
         <!--data-speed="1000"-->
         <!--data-y="411"-->
         <!--data-x="300"><img src="vendor/images/temp/slider_ipad.png" alt="" style="width: 316px; height: 380px;" />-->
    <!--</div>-->
    <!--<div class="caption lfb tp-caption start"-->
         <!--data-easing="easeOutExpo"-->
         <!--data-start="1800"-->
         <!--data-speed="1000"-->
         <!--data-y="516"-->
         <!--data-x="500"><img src="vendor/images/temp/slider_iphone.png" alt="" style="width: 143px; height: 262px;" />-->
    <!--</div>-->
</li>
<!-- SLIDE LEFT -->
<li data-transition="slotzoom-horizontal" data-slotamount="1">
    <img src="../assets/images/slider8.jpg" alt="" />
    <!--<div class="caption lfr start tp-caption customin customout"
         data-x="left"
         data-y="bottom"
         data-hoffset="170"
         data-start="2000"
         data-end="6000"
         data-speed="1000"
         data-easing="Power4.easeOut"
         data-endspeed="1000"
         data-endeasing="Power4.easeIn"
         data-customin="x:0;y:1000;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;"
         data-customout="x:-1000;y:-1000;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1.25;scaleY:1.25;skewX:0;skewY:0;opacity:0;">
        <img src="vendor/images/temp/slide_2_jet2white.png" alt="" />
    </div>
    <div class="caption lfr start tp-caption customin customout"
         data-x="right"
         data-y="bottom"
         data-hoffset="200"
         data-voffset="400"
         data-start="1400"
         data-end="5000"
         data-speed="1000"
         data-easing="Power4.easeOut"
         data-endspeed="1000"
         data-endeasing="Power4.easeIn"
         data-customin="x:0;y:1000;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;"
         data-customout="x:-1000;y:-1000;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1.25;scaleY:1.25;skewX:0;skewY:0;opacity:0;">
        <img src="vendor/images/temp/slide_2_jet1white.png" alt="" />
    </div>
    <div class="caption lft"
         data-x="80"
         data-y="130"
         data-speed="900"
         data-start="1000"
         data-easing="easeOutBack">
    </div> -->
    <div class="caption lfb slim_large_white"
         data-x="center"
         data-y="120"
         data-speed="900"
         data-start="1700"
         data-easing="easeOutBack">The best in
    </div>
    <div class="caption sfl gigant_white"
         data-x="25"
         data-y="200"
         data-speed="900"
         data-start="2000"
         data-easing="easeOutBack">Quality
    </div>
    <div class="caption sfr gigant_white"
         data-x="375"
         data-y="200"
         data-speed="900"
         data-start="2300"
         data-easing="easeOutBack">Service
    </div>
    <div class="caption sfb gigant_white"
         data-x="740"
         data-y="200"
         data-speed="900"
         data-start="2600"
         data-easing="easeOutBack">Price
    </div>
</li>
<!-- SLIDE DOWN -->
<li data-transition="slotzoom-horizontal" data-slotamount="1">
    <img src="../assets/images/slider6.jpg" alt="" />
    <div class="caption tp-caption sft medium_black"
         data-x="center"
         data-y="705"
         data-speed="900"
         data-start="1500"
         data-easing="easeOutBack">Gulfstream, and more corporate jets for warranty and repair

    </div>
    <div class="caption tp-caption sft medium_black"
         data-x="center"
         data-y="650"
         data-speed="900"
         data-start="1500"
         data-easing="easeOutBack">is the preferred choice of Airbus, Boeing, Bombardier, 
    </div>
    <div class="caption sfb gigant_white"
         data-x="center"
         data-y="505"
         data-speed="900"
         data-start="1700"
         data-easing="easeOutBack">California Radomes
    </div>
    <!--<div class="tp-caption sft"
        data-x="center"
        data-y="350"
        data-speed="600"
        data-start="2000"
        data-easing="Power4.easeOut"
        data-endspeed="500"
        data-endeasing="Power4.easeOut"
        data-autoplay="true"
        data-autoplayonlyfirsttime="true"
        data-nextslideatend="true">
        <iframe src='http://player.vimeo.com/video/76512663?title=0&byline=0&portrait=0;api=1' width='553' height='346' style='width:553px;height:346px;'></iframe>
    </div>-->
</li>
<!-- SLIDE curtain-1 -->
<li data-transition="slotzoom-horizontal" data-slotamount="1">
    <img src="../assets/images/slider7.jpg" alt="" />
    <div class="caption tp-caption sft medium_white"
         data-x="center"
         data-y="400"
         data-speed="900"
         data-start="1500"
         data-easing="easeOutBack">Whether the aircraft is an
    </div>
    <div class="tp-caption sft large_white"
         data-x="center"
         data-y="480"
         data-speed="900"
         data-start="1700"
         data-easing="easeOutBack"> Airbus, Boeing, Bombardier or Learjet, 
    </div>
    <div class="tp-caption sft large_white"
         data-x="center"
         data-y="560"
         data-speed="900"
         data-start="1800"
         data-easing="easeOutBack">California Radomes has units
    </div>
    <div class="tp-caption sft large_white"
         data-x="center"
         data-y="640"
         data-speed="900"
         data-start="1900"
         data-easing="easeOutBack">in stock to fit your requirements
    </div>
</li>
</ul>
</div><!--slider-->
</div><!--home-->