<div id="team" class="section anchor">
    <div class="section_title">
        <div class="small">Let them make</div>
        <div class="big">your dream come true</div>
        <div class="text">Our staff are the best professionals in the industry. They will not let you down.</div>
    </div>
    <div class="container">
        <div class="team">
            <div class="carousel_navigation highlight">
                <div class="prev"><i class="fa fa-arrow-left"></i></div>
                <div class="next"><i class="fa fa-arrow-right"></i></div>
            </div>
            <div class="column" cr-highlight-container>
                <div class="member_photo">
                    <img src="vendor/images/temp/member_1.png" alt="" width="190" height="190" />
                    <div class="photo_overlay"></div>
                </div>
                <div class="member_name">
                    Gary Garcia
                </div>
                <div class="member_info">
                    <strong>President</strong>
                </div>
                <div class="member_info">
                     Phone: (408)562-1919
                </div>
                <div class="member_info">
                     Fax: (408)727-7269
                </div>
                <div class="member_info">
                    Email: <a href="mailto://calradomes@yahoo.com">calradomes@yahoo.com</a>
                </div>
                <div class="read_more">
                    <a href="#member_1" class="show_modal_popup">Details</a>
                </div>
            </div><!--column-->
            <div class="column" cr-highlight-container>
                <div class="member_photo">
                    <img src="vendor/images/temp/member_2.png" alt="" width="190" height="190" />
                    <div class="photo_overlay"></div>
                </div>
                <div class="member_name">
                    Tony Garcia
                </div>
                <div class="member_info">
                    <strong>Executive Administrator</strong>
                </div>
                <div class="member_info">
                    Phone: (408)562-1919
                </div>
                <div class="member_info">
                    Fax: (408)727-7269
                </div>
                <div class="member_info">
                    Email: <a href="mailto://tony@calradomes.com">tony@calradomes.com</a>
                </div>
                <div class="read_more">
                    <a href="#member_2" class="show_modal_popup">Details</a>
                </div>
            </div><!--column-->
            <div class="column" cr-highlight-container>
                <div class="member_photo">
                    <img src="vendor/images/temp/member_3.png" alt="" width="190" height="190" />
                    <div class="photo_overlay"></div>
                </div>
                <div class="member_name">
                    Martha Martinez
                </div>
                <div class="member_info">
                    <strong>Operations Coordinator</strong>
                </div>
                <div class="member_info">
                    Phone: (408)562-1919
                </div>
                <div class="member_info">
                    Fax: (408)727-7269
                </div>
                <div class="member_info">
                    Email: <a href="mailto://martha@calradomes.com">martha@calradomes.com</a>
                </div>
                <div class="read_more">
                    <a href="#member_3" class="show_modal_popup">Details</a>
                </div>
            </div><!--column-->
            <div class="column" cr-highlight-container>
                <div class="member_photo">
                    <img src="vendor/images/temp/member_3.png" alt="" width="190" height="190" />
                    <div class="photo_overlay"></div>
                </div>
                <div class="member_name">
                    Walter Grande
                </div>
                <div class="member_info">
                    <strong>Quality Assurance Manager</strong>
                </div>
                <div class="member_info">
                    Phone: (408)727-2847
                </div>
                <div class="member_info">
                    Fax: (408)727-7269
                </div>
                <div class="member_info">
                    Email: <a href="mailto://walt@calradomes.com">walt@calradomes.com</a>
                </div>
                <div class="read_more">
                    <a href="#member_3" class="show_modal_popup">Details</a>
                </div>
            </div><!--column-->
        </div><!--team-->
        <div class="modal" id="member_1">
            <div class="close_modal" title="Close">
                <i class="highlight fa fa-times"></i>
            </div>
            <div class="member_bio">
                <div class="member_role">
                    <h1>harvey specter</h1>
                    <h5 class="highlight">Senior Creative Director</h5>
                </div>
                <div class="full_photo">
                    <img src="vendor/images/temp/member_1.jpg" alt="" />
                </div>
                <article class="article">
                    <p>Flannel Cosby sweater Intelligentsia DIY bicycle rights, raw denim swag four loko. Tousled artisan pickled, yr fixie flexitarian 3 wolf moon Terry Richardson tofu photo booth Banksy keytar. Meh post-ironic Pitchfork, drinking vinegar fixie VHS Pinterest typewriter cornhole. Occupy hoodie semiotics tousled. Authentic food truck pickled hella. Selfies Terry Richardson mumblecore photo booth tote bag single-origin coffee, butcher gastropub hashtag umami Williamsburg lomo artisan meh salvia. +1 tousled cornhole umami banh mi, master cleanse Wes Anderson ethnic actually.</p>
                    <div class="skills embedded">
                        <div class="skill_bar" data-percentage="70">
                            <div class="skill_title"><span class="highlight">WordPress theme coding</span> 70%</div>
                            <div class="skill_percentage"></div>
                        </div>
                        <div class="skill_bar" data-percentage="100">
                            <div class="skill_title"><span class="highlight">Brand packaging</span> 100%</div>
                            <div class="skill_percentage"></div>
                        </div>
                        <div class="skill_bar" data-percentage="45">
                            <div class="skill_title"><span class="highlight">Web design</span> 45%</div>
                            <div class="skill_percentage"></div>
                        </div>
                    </div><!--skills-->
                    <p>Occupy hoodie semiotics tousled. Authentic food truck pickled hella. Selfies Terry Richardson mumblecore photo booth tote bag single-origin coffee, butcher gastropub hashtag umami Williamsburg lomo artisan meh salvia. +1 tousled cornhole umami banh mi, master cleanse Wes Anderson ethnic actually.</p>
                </article>
            </div><!--member_bio-->
        </div><!--modal-->
        <div class="modal" id="member_2">
            <div class="close_modal" title="Close">
                <i class="highlight fa fa-times"></i>
            </div>
            <div class="member_bio">
                <div class="member_role">
                    <h1>Mike Ross</h1>
                    <h5 class="highlight">Senior Creative Director</h5>
                </div>
                <div class="full_photo">
                    <img src="vendor/images/temp/member_2.jpg" alt="" />
                </div>
                <article class="article">
                    <p>Flannel Cosby sweater Intelligentsia DIY bicycle rights, raw denim swag four loko. Tousled artisan pickled, yr fixie flexitarian 3 wolf moon Terry Richardson tofu photo booth Banksy keytar. Meh post-ironic Pitchfork, drinking vinegar fixie VHS Pinterest typewriter cornhole. Occupy hoodie semiotics tousled. Authentic food truck pickled hella. Selfies Terry Richardson mumblecore photo booth tote bag single-origin coffee, butcher gastropub hashtag umami Williamsburg lomo artisan meh salvia. +1 tousled cornhole umami banh mi, master cleanse Wes Anderson ethnic actually.</p>
                    <div class="skills embedded">
                        <div class="skill_bar" data-percentage="70">
                            <div class="skill_title"><span class="highlight">WordPress theme coding</span> 70%</div>
                            <div class="skill_percentage"></div>
                        </div>
                        <div class="skill_bar" data-percentage="100">
                            <div class="skill_title"><span class="highlight">Brand packaging</span> 100%</div>
                            <div class="skill_percentage"></div>
                        </div>
                        <div class="skill_bar" data-percentage="45">
                            <div class="skill_title"><span class="highlight">Web design</span> 45%</div>
                            <div class="skill_percentage"></div>
                        </div>
                    </div><!--skills-->
                    <p>Occupy hoodie semiotics tousled. Authentic food truck pickled hella. Selfies Terry Richardson mumblecore photo booth tote bag single-origin coffee, butcher gastropub hashtag umami Williamsburg lomo artisan meh salvia. +1 tousled cornhole umami banh mi, master cleanse Wes Anderson ethnic actually.</p>
                </article>
            </div><!--member_bio-->
        </div><!--modal-->
        <div class="modal" id="member_3">
            <div class="close_modal" title="Close">
                <i class="highlight fa fa-times"></i>
            </div>
            <div class="member_bio">
                <div class="member_role">
                    <h1>Donna Paulsen</h1>
                    <h5 class="highlight">Senior Creative Director</h5>
                </div>
                <div class="full_photo">
                    <img src="vendor/images/temp/member_3.jpg" alt="" />
                </div>
                <article class="article">
                    <p>Flannel Cosby sweater Intelligentsia DIY bicycle rights, raw denim swag four loko. Tousled artisan pickled, yr fixie flexitarian 3 wolf moon Terry Richardson tofu photo booth Banksy keytar. Meh post-ironic Pitchfork, drinking vinegar fixie VHS Pinterest typewriter cornhole. Occupy hoodie semiotics tousled. Authentic food truck pickled hella. Selfies Terry Richardson mumblecore photo booth tote bag single-origin coffee, butcher gastropub hashtag umami Williamsburg lomo artisan meh salvia. +1 tousled cornhole umami banh mi, master cleanse Wes Anderson ethnic actually.</p>
                    <div class="skills embedded">
                        <div class="skill_bar" data-percentage="70">
                            <div class="skill_title"><span class="highlight">WordPress theme coding</span> 70%</div>
                            <div class="skill_percentage"></div>
                        </div>
                        <div class="skill_bar" data-percentage="100">
                            <div class="skill_title"><span class="highlight">Brand packaging</span> 100%</div>
                            <div class="skill_percentage"></div>
                        </div>
                        <div class="skill_bar" data-percentage="45">
                            <div class="skill_title"><span class="highlight">Web design</span> 45%</div>
                            <div class="skill_percentage"></div>
                        </div>
                    </div><!--skills-->
                    <p>Occupy hoodie semiotics tousled. Authentic food truck pickled hella. Selfies Terry Richardson mumblecore photo booth tote bag single-origin coffee, butcher gastropub hashtag umami Williamsburg lomo artisan meh salvia. +1 tousled cornhole umami banh mi, master cleanse Wes Anderson ethnic actually.</p>
                </article>
            </div><!--member_bio-->
        </div><!--modal-->
    </div><!--container-->
</div><!--team-->